:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.profile {
  position: absolute;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.7);
  z-index: 1040;
  top: -500rem;
}
.profile .modal-profile {
  position: absolute;
  background: #d9d9d9;
  height: -moz-max-content;
  height: max-content;
  width: 80%;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1rem;
}
.profile .modal-profile .close-btn {
  display: inline-block;
  width: 100%;
}
.profile .modal-profile .close-btn .cls-signin {
  float: right;
  color: var(--PrimaryColor);
  top: 1rem;
  right: 1rem;
}
.profile .modal-profile .close-btn .cls-signin:hover {
  color: #e61818;
  cursor: pointer;
}
.profile .modal-profile .avatarUpload {
  float: left;
  width: 43%;
}
.profile .modal-profile .avatarUpload .avaInfo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile .modal-profile .avatarUpload .fileIpt {
  color: black;
}
.profile .modal-profile .avatarUpload .fileIpt input::-webkit-file-upload-button {
  margin-top: 15px;
  background: var(--gradientColor);
  padding: 2px 8px 4px 8px;
  color: #F0F0F0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 15px;
}
.profile .modal-profile .avatarUpload .fileIpt input::-webkit-file-upload-button:hover {
  background: var(--PrimaryColor);
}
.profile .modal-profile .textbox-container {
  width: 55%;
  float: right;
}
.profile .modal-profile .textbox-container .text-box {
  position: relative;
  margin-bottom: 20px;
}
.profile .modal-profile .textbox-container .text-box .input100 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 80%;
  background: #EDEDED;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 62px;
  margin-left: 35px;
}
.profile .modal-profile .textbox-container .text-box .input100:hover {
  transform: scale(1.05);
}
.profile .modal-profile .textbox-container .text-box .input100::-moz-placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: var(--PrimaryColor);
}
.profile .modal-profile .textbox-container .text-box .input100::placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: var(--PrimaryColor);
}
.profile .modal-profile .textbox-container .text-box .input100:focus {
  box-shadow: 3px 3px var(--PrimaryColor);
  transition: all 0.4s;
}
.profile .modal-profile .textbox-container .text-box .focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0;
  color: rgba(87, 184, 70, 0.8);
}
.profile .modal-profile .textbox-container .text-box .symbol-input100 {
  font-size: 15px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666;
  color: var(--PrimaryColor);
}
.profile .modal-profile .textbox-container .text-box input {
  outline: none;
  border: none;
}
.profile .modal-profile .text-box:hover .symbol-input100 {
  transform: scale(1.05);
}
.profile .modal-profile .container-login100 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.profile .modal-profile .container-login100 button {
  outline: none;
  border: none;
}
.profile .modal-profile .container-login100 .login100-form-btn {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--gradientColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
}
.profile .modal-profile .container-login100 .login100-form-btn:hover {
  cursor: pointer;
  background: var(--PrimaryColor);
}

.activeProfile {
  position: fixed;
  top: 0;
}

@media screen and (max-width: 450px) {
  .profile .modal-profile {
    height: auto;
  }
  .profile .modal-profile .avatarUpload {
    width: 100%;
    margin-bottom: 20px;
  }
  .profile .modal-profile .avatarUpload .fileIpt {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .profile .modal-profile .textbox-container {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .profile .modal-profile .textbox-container .text-box .input100 {
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .profile .modal-profile .textbox-container .text-box .symbol-input100 {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .profile .modal-profile {
    height: auto;
  }
  .profile .modal-profile .avatarUpload {
    width: 100%;
    margin-bottom: 20px;
  }
  .profile .modal-profile .avatarUpload .fileIpt {
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .profile .modal-profile .textbox-container {
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .profile .modal-profile {
    width: 70%;
  }
}
@media screen and (min-width: 769px) {
  .profile .modal-profile {
    width: 60%;
  }
}
@media screen and (min-width: 960px) {
  .profile .modal-profile {
    width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .profile .modal-profile {
    width: 45%;
  }
}
@media screen and (max-width: 1510px) {
  .avatarUpload {
    width: 38%;
  }
}/*# sourceMappingURL=profile.css.map */