:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);
}

.contact {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
}
.contact .conTitle .tittle {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: var(--textColor);
  margin: 1rem 0;
  font-size: 23px;
  z-index: 2;
}
.contact .conTitle .tittle::after {
  position: absolute;
  content: "";
  background: var(--SecondaryColor);
  height: 5px;
  width: 115px;
  right: 0;
  bottom: 2px;
  z-index: -1;
}
.contact .conContent {
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 20px;
}
.contact .conContent .singleMember {
  height: 100%;
  display: grid;
  border-radius: 10px;
  align-items: center;
  background: transparent;
  overflow: hidden;
  transition: 0.3s ease;
}
.contact .conContent .singleMember:hover {
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
}
.contact .conContent .singleMember .avatar {
  position: relative;
  top: 10px;
  height: 80%;
  width: calc(height);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(217, 217, 217);
}
.contact .conContent .singleMember .avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease;
}
.contact .conContent .singleMember .avatar:hover img {
  transform: scale(1.1);
}
.contact .conContent .singleMember .socialInfo {
  padding: 10px 1rem 0 1rem;
  background: var(--gradientColor);
  border-radius: 15px;
}
.contact .conContent .singleMember .socialInfo .name {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-top: 5px;
  color: #fdfdfd;
  transition: 0.5s ease;
}
.contact .conContent .singleMember .socialInfo .name a {
  display: none;
}
.contact .conContent .singleMember .socialInfo .name:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.contact .conContent .singleMember .socialInfo .name:hover a {
  display: inline;
}
.contact .conContent .singleMember .socialInfo .name:hover a:visited {
  color: #fdfdfd;
}
.contact .conContent .singleMember .socialInfo .name:hover a:link {
  color: #fdfdfd;
}
.contact .conContent .singleMember .socialInfo .name:hover a:hover {
  color: var(--SecondaryColor);
}
.contact .conContent .singleMember .socialInfo .name:hover a:link:hover {
  color: var(--SecondaryColor);
}
.contact .conContent .singleMember .socialInfo .socialIcon {
  text-align: center;
  margin: 20px 0;
}
.contact .conContent .singleMember .socialInfo .socialIcon .iconSocial {
  color: #fdfdfd;
  margin: 0 10px;
  transition: 0.5s ease;
}
.contact .conContent .singleMember .socialInfo .socialIcon .iconSocial:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.contact .conContent .singleMember .socialInfo .socialIcon .fb:hover {
  color: var(--PrimaryColor);
}
.contact .conContent .singleMember .socialInfo .socialIcon .gm:hover {
  color: rgb(226, 23, 23);
}
.contact .conContent .singleMember .socialInfo .socialIcon .yt:hover {
  color: rgb(226, 23, 23);
}
.contact .conContent .singleMember .socialInfo .socialIcon .gh:hover {
  color: rgb(28, 28, 26);
}
.contact .conContent .singleMember .socialInfo .socialIcon .lk:hover {
  color: var(--SecondaryColor);
}

@media screen and (min-width: 500px) {
  .tittle {
    font-size: 1.5rem;
  }
  .tittle::after {
    width: 105px !important;
  }
  .conContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .conContent .singleMember {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .conContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .conContent .singleMember {
    height: auto;
  }
}/*# sourceMappingURL=contact.css.map */